<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    
  </configSections>

  <nlog throwExceptions="false" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <time type="AccurateUTC" />
    <targets>
      <target xsi:type="Chainsaw" name="Chainsaw" address="udp://127.0.0.1:7071" />
      <target xsi:type="Trace" name="Trace" layout="NLog | ${level:padding=5} | ${logger} | ${message}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="Chainsaw" />
      <logger name="*" minlevel="Trace" writeTo="Trace" />
    </rules>
  </nlog>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  
  <runtime>

  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

  
            <dependentAssembly>

  
                 <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

  
                 <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />

  
            </dependentAssembly>

  
            <dependentAssembly>

  
                 <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

  
                 <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />

  
            </dependentAssembly>

  
            <dependentAssembly>

  
                 <assemblyIdentity name="xunit.execution.desktop" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral" />

  
                 <bindingRedirect oldVersion="0.0.0.0-2.4.1.0" newVersion="2.4.1.0" />

  
            </dependentAssembly>

  
            <dependentAssembly>

  
                 <assemblyIdentity name="xunit.core" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral" />

  
                 <bindingRedirect oldVersion="0.0.0.0-2.4.1.0" newVersion="2.4.1.0" />

  
            </dependentAssembly>

  
            <dependentAssembly>

  
                 <assemblyIdentity name="Xunit.SkippableFact" publicKeyToken="b2b52da82b58eb73" culture="neutral" />

  
                 <bindingRedirect oldVersion="0.0.0.0-1.4.0.0" newVersion="1.4.0.0" />

  
            </dependentAssembly>

  
            <dependentAssembly>

  
                 <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />

  
                 <bindingRedirect oldVersion="0.0.0.0-3.17.0.0" newVersion="3.17.0.0" />

  
            </dependentAssembly>

  
            <dependentAssembly>

  
                 <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

  
                 <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />

  
            </dependentAssembly>

  
       </assemblyBinding>

  
  </runtime>

</configuration>